In [20]:
import pandas as pd
import requests

url = "https://www.worldometers.info/coronavirus/country/us/"
r = requests.get(url)
df_list = pd.read_html(r.text) # this parses all the tables in webpages to a list
df = df_list[0]
df.head()

,#,USAState,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/ 1M pop,Population,Source,Projections
0,NaN,USA Total,7600846,NaN,214277.0,NaN,4818509.0,2568060.0,22963.0,647.0,110526283.0,333914.0,NaN,NaN,NaN
1,1.0,California,829744,NaN,16119.0,NaN,425001.0,388624.0,21000.0,408.0,14998888.0,379601.0,39512223.0,[view by county] [1],[projections]
2,2.0,Texas,802180,NaN,16480.0,NaN,695684.0,90016.0,27665.0,568.0,7020828.0,242132.0,28995881.0,[view by county] [1] [2],[projections]
3,3.0,Florida,714591,NaN,14640.0,NaN,354291.0,345660.0,33271.0,682.0,5383648.0,250662.0,21477737.0,[view by county] [1] [2] [3],[projections]
4,4.0,New York,498034,NaN,33290.0,NaN,397523.0,67221.0,25601.0,1711.0,11110291.0,571119.0,19453561.0,[view by county] [1] [2] [3],[projections]

In [21]:
del df['Source']
del df['Projections']

In [22]:
df

,#,USAState,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/ 1M pop,Population
0,NaN,USA Total,7600846,NaN,214277.0,NaN,4818509.0,2568060.0,22963.0,647.0,110526283.0,333914.0,NaN
1,1.0,California,829744,NaN,16119.0,NaN,425001.0,388624.0,21000.0,408.0,14998888.0,379601.0,39512223.0
2,2.0,Texas,802180,NaN,16480.0,NaN,695684.0,90016.0,27665.0,568.0,7020828.0,242132.0,28995881.0
3,3.0,Florida,714591,NaN,14640.0,NaN,354291.0,345660.0,33271.0,682.0,5383648.0,250662.0,21477737.0
4,4.0,New York,498034,NaN,33290.0,NaN,397523.0,67221.0,25601.0,1711.0,11110291.0,571119.0,19453561.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,59.0,Navajo Nation,10404,NaN,558.0,NaN,NaN,NaN,NaN,NaN,102753.0,NaN,NaN
60,60.0,Grand Princess Ship,103,NaN,3.0,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN
61,61.0,Wuhan Repatriated,3,NaN,NaN,NaN,NaN,3.0,NaN,NaN,3.0,NaN,NaN
62,62.0,Diamond Princess Ship,46,NaN,NaN,NaN,NaN,46.0,NaN,NaN,46.0,NaN,NaN
63,NaN,Total:,7600846,NaN,214277.0,NaN,4818509.0,2568060.0,22963.0,647.0,110526283.0,333914.0,NaN

In [23]:
del df['#']

In [24]:
df.head(50)

,USAState,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/ 1M pop,Population
0,USA Total,7600846,NaN,214277.0,NaN,4818509.0,2568060.0,22963.0,647.0,110526283.0,333914.0,NaN
1,California,829744,NaN,16119.0,NaN,425001.0,388624.0,21000.0,408.0,14998888.0,379601.0,39512223.0
2,Texas,802180,NaN,16480.0,NaN,695684.0,90016.0,27665.0,568.0,7020828.0,242132.0,28995881.0
3,Florida,714591,NaN,14640.0,NaN,354291.0,345660.0,33271.0,682.0,5383648.0,250662.0,21477737.0
4,New York,498034,NaN,33290.0,NaN,397523.0,67221.0,25601.0,1711.0,11110291.0,571119.0,19453561.0
5,Georgia,322078,NaN,7134.0,NaN,107459.0,207485.0,30335.0,672.0,3307052.0,311474.0,10617423.0
6,Illinois,302827,NaN,9023.0,NaN,210576.0,83228.0,23898.0,712.0,5834762.0,460452.0,12671821.0
7,Arizona,220399,NaN,5705.0,NaN,35696.0,178998.0,30280.0,784.0,1783985.0,245096.0,7278717.0
8,North Carolina,216886,NaN,3629.0,NaN,184422.0,28835.0,20679.0,346.0,3130783.0,298509.0,10488084.0
9,New Jersey,211217,NaN,16254.0,NaN,172371.0,22592.0,23780.0,1830.0,3672127.0,413426.0,8882190.0
10,Tennessee,199595,NaN,2560.0,NaN,183533.0,13502.0,29227.0,375.0,2928809.0,428867.0,6829174.0
11,Louisiana,167401,NaN,5545.0,NaN,154163.0,7693.0,36010.0,1193.0,2356024.0,506803.0,4648794.0
12,Pennsylvania,166270,NaN,8278.0,NaN,132252.0,25740.0,12988.0,647.0,2060877.0,160981.0,12801989.0
13,Alabama,158380,NaN,2558.0,NaN,67948.0,87874.0,32301.0,522.0,1215120.0,247823.0,4903185.0
14,Ohio,158017,NaN,4930.0,NaN,136330.0,16757.0,13518.0,422.0,3309701.0,283144.0,11689100.0
15,South Carolina,150891,NaN,3442.0,NaN,72952.0,74497.0,29307.0,669.0,1456415.0,282870.0,5148714.0
16,Virginia,150803,NaN,3270.0,NaN,17810.0,129723.0,17668.0,383.0,2267407.0,265644.0,8535519.0
17,Michigan,141271,NaN,7124.0,NaN,99521.0,34626.0,14146.0,713.0,4098018.0,410341.0,9986857.0
18,Missouri,136462,NaN,2303.0,NaN,23211.0,110948.0,22234.0,375.0,1991318.0,324455.0,6137428.0
19,Massachusetts,134303,NaN,9507.0,NaN,113768.0,11028.0,19485.0,1379.0,2545526.0,369318.0,6892503.0
20,Wisconsin,130798,NaN,1372.0,NaN,105373.0,24053.0,22464.0,236.0,1587561.0,272663.0,5822434.0
21,Maryland,126819,NaN,3957.0,NaN,7652.0,115210.0,20977.0,655.0,2688866.0,444758.0,6045680.0
22,Indiana,124059,NaN,3669.0,NaN,96845.0,23545.0,18428.0,545.0,2140897.0,318008.0,6732219.0
23,Minnesota,102787,NaN,2126.0,NaN,91844.0,8817.0,18226.0,377.0,2116038.0,375209.0,5639632.0
24,Mississippi,100167,NaN,3011.0,NaN,89737.0,7419.0,33657.0,1012.0,823185.0,276594.0,2976149.0
25,Washington,92088,NaN,2145.0,NaN,43388.0,46555.0,12093.0,282.0,1922956.0,252526.0,7614893.0
26,Iowa,91965,NaN,1378.0,NaN,71321.0,19266.0,29148.0,437.0,817632.0,259149.0,3155070.0
27,Oklahoma,90748,NaN,1051.0,NaN,76997.0,12700.0,22934.0,266.0,1262313.0,319010.0,3956971.0
28,Arkansas,86525,NaN,1407.0,NaN,77772.0,7346.0,28672.0,466.0,1077735.0,357126.0,3017804.0
29,Nevada,81708,NaN,1620.0,NaN,58447.0,21641.0,26527.0,526.0,1075816.0,349273.0,3080156.0
30,Utah,76225,NaN,476.0,NaN,56751.0,18998.0,23776.0,148.0,1110601.0,346418.0,3205958.0
31,Colorado,72555,NaN,2060.0,NaN,32307.0,38188.0,12599.0,358.0,942339.0,163636.0,5758736.0
32,Kentucky,72001,NaN,1205.0,NaN,12121.0,58675.0,16116.0,270.0,1520236.0,340275.0,4467673.0
33,Kansas,62310,NaN,698.0,NaN,46977.0,14635.0,21388.0,240.0,531117.0,182307.0,2913314.0
34,Connecticut,58297,NaN,4513.0,NaN,42374.0,11410.0,16351.0,1266.0,1673975.0,469520.0,3565287.0
35,Nebraska,47403,NaN,497.0,NaN,34395.0,12511.0,24505.0,257.0,473666.0,244864.0,1934408.0
36,Idaho,43702,NaN,480.0,NaN,22744.0,20478.0,24455.0,269.0,316370.0,177033.0,1787065.0
37,Oregon,34511,NaN,571.0,NaN,5752.0,28188.0,8182.0,135.0,701903.0,166417.0,4217737.0
38,New Mexico,30296,NaN,890.0,NaN,17210.0,12196.0,14448.0,424.0,941512.0,449017.0,2096829.0
39,Rhode Island,25076,NaN,1118.0,NaN,2346.0,21612.0,23671.0,1055.0,797014.0,752354.0,1059361.0
40,South Dakota,23986,NaN,248.0,NaN,19626.0,4112.0,27113.0,280.0,198019.0,223837.0,884659.0
41,North Dakota,23134,NaN,271.0,NaN,19079.0,3784.0,30357.0,356.0,246006.0,322816.0,762062.0
42,Delaware,21125,NaN,645.0,NaN,10748.0,9732.0,21694.0,662.0,291351.0,299201.0,973764.0
43,West Virginia,16468,NaN,357.0,NaN,11938.0,4173.0,9189.0,199.0,582208.0,324866.0,1792147.0
44,District Of Columbia,15473,NaN,629.0,NaN,12252.0,2592.0,21924.0,891.0,397549.0,563301.0,705749.0
45,Montana,14356,NaN,186.0,NaN,9601.0,4569.0,13432.0,174.0,354783.0,331952.0,1068778.0
46,Hawaii,12734,NaN,153.0,NaN,10415.0,2166.0,8994.0,108.0,432711.0,305614.0,1415872.0
47,New Hampshire,8597,NaN,442.0,NaN,7655.0,500.0,6323.0,325.0,310795.0,228574.0,1359711.0
48,Alaska,8217,NaN,58.0,NaN,4626.0,3533.0,11232.0,79.0,473256.0,646927.0,731545.0
49,Wyoming,6365,NaN,53.0,NaN,5083.0,1229.0,10998.0,92.0,165242.0,285511.0,578759.0

In [25]:
from datetime import date
from datetime import timedelta
today_date = date.today()
yesterday_date = today_date - timedelta(days = 1)
df['Date']= yesterday_date

In [26]:
df

,USAState,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/ 1M pop,Population,Date
0,USA Total,7600846,NaN,214277.0,NaN,4818509.0,2568060.0,22963.0,647.0,110526283.0,333914.0,NaN,2020-10-02
1,California,829744,NaN,16119.0,NaN,425001.0,388624.0,21000.0,408.0,14998888.0,379601.0,39512223.0,2020-10-02
2,Texas,802180,NaN,16480.0,NaN,695684.0,90016.0,27665.0,568.0,7020828.0,242132.0,28995881.0,2020-10-02
3,Florida,714591,NaN,14640.0,NaN,354291.0,345660.0,33271.0,682.0,5383648.0,250662.0,21477737.0,2020-10-02
4,New York,498034,NaN,33290.0,NaN,397523.0,67221.0,25601.0,1711.0,11110291.0,571119.0,19453561.0,2020-10-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,Navajo Nation,10404,NaN,558.0,NaN,NaN,NaN,NaN,NaN,102753.0,NaN,NaN,2020-10-02
60,Grand Princess Ship,103,NaN,3.0,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN,2020-10-02
61,Wuhan Repatriated,3,NaN,NaN,NaN,NaN,3.0,NaN,NaN,3.0,NaN,NaN,2020-10-02
62,Diamond Princess Ship,46,NaN,NaN,NaN,NaN,46.0,NaN,NaN,46.0,NaN,NaN,2020-10-02
63,Total:,7600846,NaN,214277.0,NaN,4818509.0,2568060.0,22963.0,647.0,110526283.0,333914.0,NaN,2020-10-02

In [27]:
#pip install pymongo

In [18]:
import pymongo
print("Setting up mongo client")
client = pymongo.MongoClient("localhost", 27017)
print("Connecting to database ...")
db = client.admin
database_name = db.name
print("Connected Successfully!")
# output DB name
print("The database name is: {}".format(database_name))

Setting up mongo client
Connecting to database ...
Connected Successfully!
The database name is: admin

In [28]:
df.to_json('/data/db/10032020.json')